# Credenciales locales (el .env SÍ se sube al repo)
credenciales.txt
.env.local
.env.production

# Dependencias
node_modules/
.expo/

# Build
dist/
build/
*.apk
*.ipa
*.aab

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log
npm-debug.log*
